@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
/****************************************************
 ******************   VARIABLES   *******************
 ****************************************************/
:root {
  --clr-green-200: hsl(173, 61%, 77%);
  --clr-green-400: hsl(172, 67%, 45%);
  --clr-green-750: hsl(183, 79%, 24%);
  --clr-green-800: hsl(183, 85%, 21%);
  --clr-green-900: hsl(183, 100%, 15%);
  --clr-orange-400: hsl(13, 70%, 60%);
  --clr-grey-50: hsl(189, 41%, 97%);
  --clr-grey-200: hsl(185, 41%, 84%);
  --clr-grey-300: hsl(184, 19%, 68%);
  --clr-grey-400: hsl(184, 14%, 56%);
  --clr-grey-500: hsl(186, 14%, 43%);
  --clr-grey-550: hsl(180, 18%, 40%);
  --clr-grey-600: hsl(180, 25%, 32%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --ff-space-mono: "Space Mono", monospace;
  --fs-48: 3rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;
  --fs-20: 1.25rem;
  --fs-16: 1rem;
  --fs-13: 0.8125rem;
  --fw-700: 700;
  --lh-150: 1.5;
  --sp-0: 0rem;
  --sp-8: 0.5rem;
  --sp-16: 1rem;
  --sp-24: 1.5rem;
  --sp-32: 2rem;
  --sp-40: 2.5rem;
  --sp-48: 3rem;
  --sp-80: 5rem;
  --sp-88: 5.5rem;
  --sp-96: 6rem;
  --sp-120: 7.5rem;
  --sp-128: 8rem;
  --sp-160: 10rem;
  --sp-240: 15rem;
  --sp-320: 20rem;
  --shadow: 0 2rem 2.6875rem rgba(79, 166, 175, 0.2);
  --bp-tablet: 48rem;
  --bp-desktop: 80rem;
}

/****************************************************
 ********************   RESET   *********************
 ****************************************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-space-mono);
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: var(--lh-150);
  background-color: var(--clr-grey-200);
  color: var(--clr-grey-500);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/****************************************************
 ********************   CONTAINER   *****************
 ****************************************************/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(var(--sp-40), 2.5rem + 48 * (100vw - 48rem) / 672, var(--sp-88));
  padding-block-start: var(--sp-48);
  padding-block-end: clamp(0rem, 0rem + 80 * (100vw - 30rem) / 288, 5rem);
  padding-inline: clamp(0rem, 0rem + 260 * (100vw - 30rem) / 960, 16.25rem);
  min-height: 100dvh;
}

/****************************************************
 ******************   FORM GROUP   ******************
 ****************************************************/
.calculator__form {
  display: flex;
  flex-direction: column;
  gap: var(--sp-32);
}
@media (width >= 48rem) {
  .calculator__form {
    gap: var(--sp-24);
  }
}
@media (width >= 80rem) {
  .calculator__form {
    gap: var(--sp-40);
  }
}
.calculator__form .form-group {
  display: flex;
  flex-direction: column;
  gap: var(--sp-8);
}

/****************************************************
 ********************   BUTTONS   *******************
 ****************************************************/
.btn {
  width: 100%;
  padding: var(--sp-8) var(--sp-16);
  border-radius: var(--sp-8);
  text-transform: uppercase;
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  .btn:not(:disabled):not(.active):hover {
    background-color: var(--clr-green-200);
    color: var(--clr-green-900);
  }
}
.btn:focus-visible {
  outline: 0.125rem solid hsl(from var(--clr-green-400) h s l);
  outline-offset: 0.125rem;
}
.btn:disabled {
  background-color: var(--clr-green-750);
  color: var(--clr-green-800);
  cursor: not-allowed;
}
.btn.active, .btn--reset {
  background-color: var(--clr-green-400);
  color: var(--clr-green-900);
}
.btn--tip {
  background-color: var(--clr-green-900);
  color: var(--clr-white);
}

/****************************************************
 *********************   LABEL   ********************
 ****************************************************/
.form-group__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-group__header .form-label {
  font-size: var(--fs-16);
  color: var(--clr-grey-500);
}
.form-group__header .error-message {
  font-size: var(--fs-13);
  color: var(--clr-orange-400);
  display: none;
}

/****************************************************
 *********************   INPUT   ********************
 ****************************************************/
.input-field {
  width: 100%;
  padding: var(--sp-8) var(--sp-16);
  border-radius: var(--sp-8);
  background-color: var(--clr-grey-50);
  color: var(--clr-green-900);
  text-align: right;
  appearance: textfield;
  -moz-appearance: textfield;
}
.input-field::-webkit-inner-spin-button, .input-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-field.tip-custom {
  text-align: center;
}
.input-field::placeholder {
  color: var(--clr-grey-300);
}
.input-field:focus-visible {
  outline: 0.125rem solid hsl(from var(--clr-green-400) h s l);
  outline-offset: 0.125rem;
}
.input-field:invalid:not(:placeholder-shown) {
  outline: 0.125rem solid hsl(from var(--clr-orange-400) h s l);
  outline-offset: 0.125rem;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
.input-wrapper .input-icon {
  position: absolute;
  left: var(--sp-16);
}

/****************************************************
 *******************   TIP GRID   *******************
 ****************************************************/
.tip-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--sp-16);
}
@media (width >= 48rem) {
  .tip-options {
    grid-template-columns: repeat(3, 1fr);
  }
}

/****************************************************
 *******************   RESULTS   ********************
 ****************************************************/
.calculator__results {
  display: flex;
  flex-direction: column;
  gap: var(--sp-32);
  padding-block: var(--sp-24);
  padding-inline: var(--sp-24);
  border-radius: var(--sp-16);
  background-color: var(--clr-green-900);
}
@media (width >= 48rem) {
  .calculator__results {
    gap: var(--sp-16);
    padding-inline: var(--sp-32);
  }
}
@media (width >= 80rem) {
  .calculator__results {
    gap: var(--sp-128);
  }
}
.calculator__results .results {
  display: flex;
  flex-direction: column;
  gap: var(--sp-24);
}
@media (width >= 48rem) {
  .calculator__results .results {
    gap: var(--sp-8);
  }
}
@media (width >= 80rem) {
  .calculator__results .results {
    gap: var(--sp-24);
  }
}
.calculator__results .results .result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calculator__results .results .result__info {
  display: flex;
  flex-direction: column;
  gap: var(--sp-0);
}
.calculator__results .results .result__info .result__label {
  font-size: var(--fs-16);
  color: var(--clr-white);
}
.calculator__results .results .result__info .result__person {
  font-size: var(--fs-13);
  color: var(--clr-grey-400);
}
.calculator__results .results .result__amount {
  font-size: clamp(var(--fs-32), 7vw, var(--fs-48));
  letter-spacing: -0.0625rem;
  color: var(--clr-green-400);
}

/*# sourceMappingURL=styles.css.map */
