@mixin breakpoint($point) {
  @if $point == "tablet" {
    @media (width >= var(--bp-tablet)) {
      @content;
    }
  } @else if $point == "desktop" {
    @media (width >= var(--bp-desktop)) {
      @content;
    }
  }
}

@mixin no-spinner {
  appearance: textfield;

  // Firefox
  -moz-appearance: textfield;

  // Chrome, Safari, Edge, Opera
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
